.whole-card {
  padding: 40px;
  margin: 10px;
  box-shadow: 1px 1px 15px 5px grey;
  display: flex;
  width: 30%;
  position: relative;
  height: 250px;
}
.whole-card ul {
  display: flex;
  flex-direction: column;
}
.whole-card ul li {
  list-style: disc;
  margin: 0 20px;
}
.whole-card img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 200px;
}
